.profile {
    display: flex;
    justify-content: center;
     flex-direction: column;
     width: 200px;
     box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
     border-radius: 3px;
    
     
    }
    
    .description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      margin: 0px 0px 20px 0px;
    
    }
    
    .name {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: center;
    }
    
    .avatar {
     max-height: 100px;
      max-width: 100px; 
      border-radius: 50px;
      display: flex;
      justify-content: center;
      padding: 20px 50px;
    }
    
    .tag {
      display: flex;
      justify-content: center;
      color: grey;
      font-weight: bold;
    }
    .location {
      display: flex;
      justify-content: center;
      color: grey;
      font-weight: bold;
    }
    
    .stats {
      display: flex;
      justify-content: center;
      background-color: rgba(243, 233, 238, 0.8);
     
    }
    
    .stats li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 1px solid rgba(9, 30, 66, 0.25);
      width: 67px;
      height: 60px;
      gap: 5px;
    }
    
    .label {
      display: flex;
      justify-content: center;
      font-size: 13px;
      color: grey;
    }
    .quantity {
      display: flex;
      justify-content: center;
      font-size: 13px;
      font-weight: bold;
    }
    
    .status-on {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    }
    
    .status-off {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: red;
    }