.even {
  background-color: white;
}

.odd {
  background-color: lightgray;
}

.topic {
  text-transform: uppercase;
  background-color: rgb(0, 128, 255);
  color: white;
  height: 50px;
}

.topic th {
  width: 300px;
}

.type {
  text-transform: capitalize;
}

.test {
  color: grey;
  text-align: center;
  height: 50px;
}
